{% extends 'base.html.twig' %}


{% block title %}{{ article.titre }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/style/topmenu.css">
    <link rel="stylesheet" href="/style/footer.css">
{% endblock %}
{% block body %}
    {{ include ('front/includes/topmenu.html.twig') }}
    {% embed 'front/embed/main_section.html.twig' %}
        {% block page_content %}
            <h1>{{ article.titre }}</h1>
            <div class="row g-0" id="infos-art">
                <div class="col-4 offset-4">
                    <div class="row g-0">
                        <div class="col-6 infart-cl"><img src="/images/design/icons8-utilisateur-24.png" alt="icône utilisateur">Posté par {{ article.auteur.username }}</div>
                        <div class="col-6 infart-cl"><img src="/images/design/icons8-calendrier-24.png" alt="icône calendrier">le {{ article.datePublication|format_date('medium', locale='fr') }}</div>
                    </div>
                    {% if article.dateModif is not null %}
                        <div class="row g-0" id="rw-modif">
                            <div class="col-12 infart-cl">
                                <img src="/images/design/icons8-modifier-24.png" alt="icône modif">Modifié le {{ article.dateModif|format_date('medium', locale='fr') }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {{ article.contenu|raw}}
            <div class="row g-0">
                <div class="col-6 offset-3" id="wrap-coms">
                    <h2>Commentaires</h2>
                    {% for com in article.commentaires %}
                        {% if com.profondeur == 0 %}
                            
                                <div class="comment">
                                    <div class="com-user-info">
                                        <div class="avatar-com"><img src="{{ com.auteur.avatar }}" alt="avatar {{ com.auteur.username }}"></div>
                                        <div class="pseudo-com">{{ com.auteur.username }}</div>
                                        <div class="com-date">{{ com.datePublication|format_date('short', locale='fr') }}</div>
                                    </div>
                                    <div class="com-content">
                                        {{ com.contenu }}
                                        <div class="com-likes">
                                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and com in app.user.likesDonnes %}
                                                {% set clickable = "" %}
                                                {% set thumbs_src = "icons8-thumbs-up-60(1).png" %}
                                            {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                                {% set clickable = "clickable" %}
                                                {% set thumbs_src = "icons8-thumbs-up-60.png" %}
                                            {% else %}
                                                {% set clickable = "" %}
                                                {% set thumbs_src = "icons8-thumbs-up-60.png" %}
                                            {% endif %}
                                                
                                            <img src="/images/design/{{ thumbs_src }}" class="{{ clickable }}" alt="thumbs_up">
                                            <span>{{ com.likes }}</span>
                                            <input type="hidden" value="{{ com.id }}">
                                        </div>
                                    </div>
                                </div>
                                {% for reponse in com.reponses %}
                                    <div class="comment com-lvl1">
                                        <div class="com-user-info">
                                            <div class="avatar-com"><img src="{{ reponse.auteur.avatar }}" alt="avatar {{ reponse.auteur.username }}"></div>
                                            <div class="pseudo-com">{{ reponse.auteur.username }}</div>
                                            <div class="com-date">{{ reponse.datePublication|format_date('short', locale='fr') }}</div>
                                        </div>
                                        <div class="com-content">
                                            {{ reponse.contenu }}
                                            <div class="com-likes">
                                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and reponse in app.user.likesDonnes %}
                                                {% set clickable = "" %}
                                                {% set thumbs_src = "icons8-thumbs-up-60(1).png" %}
                                            {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                                {% set clickable = " clickable" %}
                                                {% set thumbs_src = "icons8-thumbs-up-60.png" %}
                                            {% else %}
                                                {% set clickable = "" %}
                                                {% set thumbs_src = "icons8-thumbs-up-60.png" %}
                                            {% endif %}
                                                
                                            <img src="/images/design/{{ thumbs_src }}" class="{{ clickable }}" alt="thumbs_up">
                                            <span>{{ reponse.likes }}</span>
                                            <input type="hidden" value="{{ reponse.id }}">
                                        </div>
                                        </div>
                                    </div>
                                    {% for sub_rep in reponse.reponses %}
                                        <div class="comment com-lvl2">
                                            <div class="com-user-info">
                                                <div class="avatar-com"><img src="{{ sub_rep.auteur.avatar }}" alt="avatar {{ sub_rep.auteur.username }}"></div>
                                                <div class="pseudo-com">{{ sub_rep.auteur.username }}</div>
                                                <div class="com-date">{{ sub_rep.datePublication|format_date('short', locale='fr') }}</div>
                                            </div>
                                            <div class="com-content">
                                                {{ sub_rep.contenu }}
                                                <div class="com-likes">
                                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and sub_rep in app.user.likesDonnes %}
                                                        {% set clickable = "" %}
                                                        {% set thumbs_src = "icons8-thumbs-up-60(1).png" %}
                                                    {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                                        {% set clickable = " clickable" %}
                                                        {% set thumbs_src = "icons8-thumbs-up-60.png" %}
                                                    {% else %}
                                                        {% set clickable = "" %}
                                                        {% set thumbs_src = "icons8-thumbs-up-60.png" %}
                                                    {% endif %}

                                                    <img src="/images/design/{{ thumbs_src }}" class="{{ clickable }}" alt="thumbs_up">
                                                    <span>{{ sub_rep.likes }}</span>
                                                    <input type="hidden" value="{{ sub_rep.id }}">
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
    {% embed 'front/embed/footer.html.twig' %}
    {% endembed %}
    {{ include ('front/includes/scripts_top_menu.html.twig') }}
    <script type="text/javascript">
        $(function() {
            var nb_xhr = 0;
            var user_id = {% if app.user is not null %}{{ app.user.id }}{% else %}0{% endif %};
            $('.com-likes img').click(function() {
                if (!$(this).hasClass('clickable')) {
                    return false;
                }
                var com_id = $(this).parent().find('input').val();
                var this_com = $(this);
                $.ajax({
                    method: "GET",
                    url: "/like",
                    data: { com_id: com_id, user_id: user_id},
                    dataType: 'json',
                    beforeSend: function(xhr, opts) {
                        if (nb_xhr > 0) {
                            xhr.abort();
                            return;
                        }
                        nb_xhr++;
                    }
                }).done(function (json) {
                    this_com.removeClass("clickable").attr("src", "/images/design/icons8-thumbs-up-60(1).png");
                    this_com.parent().find('span').html(json.clics);
                    nb_xhr--;
                });
            });
        });
    </script>
{% endblock %}